html {
  font-family: Roboto;
  scroll-behavior: smooth;
}
nav {
  height: 50px;
  font-weight: bold;
  background-color: #4e4e4e;
}
.container {
  width: 96%;
  margin: 0 auto;
}
body {
  font-size: 18px;
  font-weight: 400;
}
.title section {
  font-size: 36px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  word-wrap: break-word;
  color: aliceblue;
  width: 100%;
  max-width: 580px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-family: 'Roboto';
}
.sentens {
  color: aliceblue;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  word-wrap: break-word;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}
.workers {
  margin-bottom: 70px;
  color: aliceblue;
  font-size: 26px;
  font-weight: bold;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: aliceblue;
}
.stop {
  cursor: not-allowed;
}
.decoration {
  text-decoration: none;
  color: aliceblue;
}
.nav-menu-list {
  display: none;
}
.nav-menu-list-item {
  margin-left: 46px;
}
.header-background {
  background-image: url('https://i.pinimg.com/736x/d9/79/a1/d979a1cdd670777a9de27ed350ba0215.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.header-container-content {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
}
.btn {
  transition-duration: 1s;
  padding: 13px 50px;
  border: 1px solid white;
}
.btn:hover {
  background-color: white;
  color: black;
}

section {
  padding: 50px 0;
}
.employe {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-wrapper {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 30px;
  margin-left: 30px;
  background-image: url('./images/gwyneth-paltrow.png');
}
.offers-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  font-weight: bold;
}
.wrapping {
  display: flex;
  flex-flow: row wrap;
}

.package-six-squaeres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 240px;
  width: 240px;
  border-width: 5px;
  background-color: aqua;
  font-size: 24px;

  transition-duration: 1s;
  align-items: center;
  justify-content: center;
}
.background-grey {
  background-color: #405d78;
}
.background-footer {
  background-color: #4e4e4e;
}
.container-footer-writing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}

.fa-brands {
  font-size: 30px;
}
.fa-instagram {
  margin-right: 20px;
}

.new-offer {
  position: relative;
  flex-direction: column;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #e07a64;
  top: -10px;
  left: -10px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  .nav-menu-list {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .employe,
  .container-footer-container {
    flex-direction: row;
  }
  .employe:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .package6:hover {
    transform: scale(1.05);
  }
  .container {
    width: 960px;
  }
}
