nav {
  height: 50px;
  background-color: gray;
  font-weight: bold;
}
.container {
  width: 96%;
  margin: 0 auto;
}
html {
  font-family: Roboto;
  scroll-behavior: smooth;
}
body {
  font-family: roboto;
  font-size: 18 px;
  font-weight: 400;
}
.title section {
  font-size: 36px;
  font-weight: 700;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  font-weight: bold;
  word-wrap: break-word;
  color: aliceblue;
}
.sentens {
  color: aliceblue;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 30px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  font-weight: bold;
  padding-bottom: 15px;
}
.absolute {
  margin-bottom: 70px;
  font-size: 42px;
  font-weight: 500;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: aliceblue;
}
.stop {
  cursor: not-allowed;
}
.nav-menu-list-item {
  margin-left: 20px;
  height: 100%;
  align-items: center;
  display: none;
}
.decoration {
  text-decoration: none;
  color: aliceblue;
}
.nav-menu-list {
  display: flex;
}
.header-background {
  background-image: url("https://i.pinimg.com/736x/d9/79/a1/d979a1cdd670777a9de27ed350ba0215.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-container-content {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
}
.header-background {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  transition-duration: 1s;
  padding: 13px 50px;
  border: 1px solid white;
}
.btn:hover {
  background-color: white;
  color: black;
}
.box {
  width: 80%;
  margin: 0 auto;
  height: 500px;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
}
section {
  padding: 50px 0;
}
.employe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-wrapper {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 30px;
  margin-left: 30px;
  background-image: url("https://media-exp1.licdn.com/dms/image/C5103AQFJbrkGXry_LQ/profile-displayphoto-shrink_400_400/0/1516847026660?e=1668643200&v=beta&t=tkBlU2IIeSRqnjkthmSdaVZspuYwfkaAKCokrxtIsLw");
}

.offers-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  font-weight: bold;
}
.wrapping {
  display: flex;
}

.package6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 240px;
  width: 240px;
  border-width: 5px;
  background-color: aqua;

  transition-duration: 1s;
  align-items: center;
  justify-content: center;
}
.background-grey {
  background-color: #405d78;
}
.backgr {
  background-color: gray;
}
.container-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-weight: bold;
}

.fa-brands {
  font-size: 30px;
}

.new-offer {
  position: relative;
  flex-direction: column;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  top: -10px;
  left: -10px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  .nav-menu-list-item {
    display: flex;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 1024px) {
  .employe,
  .container-footer-container {
    flex-direction: row;
  }
  .employe:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .package6:hover {
    transform: scale(1.05);
  }
  .container {
    width: 960px;
  }
}
